@property --color {
    syntax: "<color>";
    inherits: true;
    initial-value: #000;
}
@property --size {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

:root {
    --t: 0.25s;

    --bg: var(--bg1);
    --bg1: #000820;
    --bg2: #081838;
    --fg: var(--fg1);
    --fg1: #fff;
    --fg2: #8299b8;
    --fg3: #24375e;
    --a: #08f;
}

/* html {
    filter: brightness(1.5);
} */
html, body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
body {
    margin: 0em;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;

    color: inherit;

    font-family: inherit;

    /* outline: 1px solid #f00 !important; */
}
*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-weight: inherit;
}

::selection {
    background-color: #08f4;
}

a:not([override]) {
    color: var(--a);

    text-decoration: none;

    cursor: pointer;

    transition: color var(--t);
}
a:not([override]):not(:disabled):hover {
    color: var(--fg);
}

button {
    border: none;
    outline: none;

    cursor: pointer;
}
button[special] {
    --color: var(--a);
    --size: 0%;

    position: relative;

    padding: 1em 2em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1em;

    background: linear-gradient(135deg, var(--color) 0%, var(--color) var(--size), transparent var(--size), transparent 100%);
    color: var(--color);
    border: 0.1rem solid var(--color);
    border-radius: 0.5rem;

    letter-spacing: 0.1em;
    font-size: inherit;

    transition: --color var(--t), --size var(--t), color var(--t), filter var(--t);
}
button[special]:not([cool]):not(:disabled):hover {
    --color: var(--fg);
}
button[special][cool]:not(:disabled):hover {
    --color: var(--a);
    --size: 100%;

    color: var(--fg);
}

.icon {
    --color: var(--fg2);

    position: relative;

    min-width: 1em;
    max-width: 1em;
    min-height: 1em;
    max-height: 1em;
}
.icon::before {
    content: "";

    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;

    height: 50%;
    
    background-color: var(--color);
    border-radius: 1em 1em 0em 0em;
}
.icon::after {
    content: "";

    position: absolute;
    top: 0%;
    left: 20%;
    right: 20%;

    height: 40%;

    background-color: var(--color);

    clip-path: polygon(
        0% 0%,
        25% 50%,
        50% 0%,
        75% 50%,
        100% 0%,
        100% 100%,
        0% 100%
    );
}

body {
    padding: 4rem max(4rem, calc((100vw - 60rem) / 2));

    overscroll-behavior: none;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(-15deg, #0088ff18, #0000), var(--bg);
}
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--fg3);
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

body > canvas {
    z-index: -1;

    position: absolute;
    top: 0%;
    right: 0%;
}

body > header {
    z-index: 1;

    position: absolute;
    top: 3rem;
    right: min(4rem, calc(max(4rem, calc((100vw - 60rem) / 2)) / 2));
    transform: translateX(50%);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: center;
    gap: 0.5em;

    font-size: 1.5em;

    pointer-events: none;

    transition: left var(--t);
}
body > header::before,
body > header::after {
    content: "";

    position: absolute;
    left: 50%;

    width: 0.1rem;

    background-color: var(--fg3);
}
body > header::before {
    bottom: -1rem;
    transform: translate(-50%, 100%);

    height: 100vh;
}
body > header::after {
    top: -1rem;
    transform: translate(-50%, -100%);

    height: 100vh;
}
body > header > a {
    color: var(--fg3) !important;

    pointer-events: all;
}
body > header > a:hover {
    color: var(--fg) !important;
}

body > .window {
    max-width: 100%;
    min-height: 23rem;
    margin: 0em -4rem;
    overflow: hidden;
    
    color: var(--fg);

    font-size: 0.75em;
    font-weight: 600;
}
body > .window * {
    margin: 0em;
}
body > .window span:not(.cursor) {
    --i: 0;

    margin-left: calc(var(--i) * 2rem) !important;
}
body > .window span:not(.cursor):not(.tag) {
    filter: drop-shadow(0em 0em 0.05em var(--fg2)) drop-shadow(0em 0em 0.25em var(--a));
}
body > .window span:not(.cursor).tag {
    margin: 0em 0.25em;

    color: var(--fg3);

    letter-spacing: 0.1em;
    font-family: monospace;
    font-weight: 400;
}
body > .window span:not(.cursor).tag > span:not(.cursor).tag {
    margin: 0em;

    color: var(--fg2);
    opacity: 0.75;
    
    font-size: 1em;
}
body > .window span.cursor {
    transform: translateY(-0.4em);

    width: 0.1rem;
    height: 1em;
    margin: -0.5em 0em;
    margin-right: -0.1rem;

    display: inline-block;

    background-color: var(--fg2);

    user-select: none;
    pointer-events: none;
}
body > p {
    max-width: min(100%, 50rem);

    color: var(--fg2);

    line-height: 1.5em;
    font-size: 1.25em;
}
body > address {
    max-width: min(100%, 50rem);

    color: var(--fg3);

    font-family: monospace;
    font-style: normal;
}
body > nav {
    padding-top: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 1rem;
}
body > nav a {
    filter: none !important;

    text-decoration: none;
}
body > article {
    --y: 0;

    transform: translateY(calc(2rem * var(--y))) scale(1.1);

    max-width: 100%;
    margin-top: 10rem;

    opacity: 0;
    visibility: hidden;

    filter: blur(0.5rem);

    font-size: 1.1rem;

    transition: transform var(--t), opacity var(--t), visibility var(--t), filter var(--t);
}
body > article.this {
    transform: translateY(0rem) scale(1);

    opacity: 1;
    visibility: inherit;

    filter: blur(0rem);
}
body > article.conjoin {
    margin-top: 1rem;
}
body > article > h3 {
    margin: 1em 0em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    color: var(--fg);

    letter-spacing: 0.1rem;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}
body > article > h3::before,
body > article > h3::after {
    height: 0.1rem;

    display: inline-block;

    background-color: var(--fg3);
}
body > article > h3::after {
    content: "";

    width: 100%;
    margin-left: 1em;
}
body > article > h3.center::before {
    content: "";

    width: 50%;
    margin-right: 1em;
}
body > article > h3.center::after {
    width: 50%;
}
body > article > h3 > * {
    min-width: max-content;
}
body > article > h3 > span:first-child {
    margin-right: 0.5em;

    color: var(--a);

    filter: drop-shadow(0em 0em 0.5em var(--a));

    font-family: monospace;
    font-weight: 500;
}
body > article > h3 > span:not(:first-child) {
    filter: drop-shadow(0em 0em 0.5em var(--fg));
}
body > article section {
    color: var(--fg2);

    line-height: 1.5em;
}
@media (max-width:60rem) {
    body > article section.about {
        flex-direction: column-reverse !important;
        gap: 0.5rem !important;
    }
    body > article section.about section.picture {
        align-self: center;
    }
    body > article section.about section.picture div {
        max-width: 20rem;
    }
}
body > article section.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 2em;
}
body > article section.col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 2em;
}
body > article section.picture > div {
    --angle: 3deg;

    position: relative;
    transform: perspective(20rem) rotateY(0deg) rotateX(0deg) scale(1);

    width: auto;
    height: auto;
    overflow: hidden;

    background-color: var(--bg2);
    border-radius: 0.5rem;

    line-height: 0em;

    transition: transform var(--t);
}
body > article section.picture > div:hover {
    transform: perspective(20rem) rotateY(var(--angle)) rotateX(var(--angle)) scale(1.05);
}
body > article section.picture[flip] > div:hover {
    transform: perspective(20rem) rotateY(calc(-1 * var(--angle))) rotateX(var(--angle)) scale(1.05);
}
body > article section.picture > div > img {
    width: 100%;
    height: auto;

    opacity: 0.75;

    transition: opacity var(--t);
}
body > article section.picture > div:hover > img {
    opacity: 1;
}
body > article section.picture > p {
    margin-top: 1em;

    color: var(--fg3);

    font-size: 0.85em;
}
body > article section.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1em;
}
body > article section.list.normal a {
    transform: translateY(calc(2rem * var(--y))) scale(1.1);

    opacity: 0;
    visibility: hidden;

    filter: blur(0.5rem);

    font-family: monospace;
    text-decoration: none;

    transition: transform var(--t), opacity var(--t), visibility var(--t), filter var(--t);
}
body > article section.list.normal a.this {
    transform: translateY(0rem) scale(1);

    opacity: 1;
    visibility: inherit;

    filter: blur(0rem);
}
body > article section.list.normal button {
    padding: 0.75em 1.25em;

    font-size: 1em;

    background-color: var(--bg2);
    color: var(--fg2);
    border-radius: 0.5rem;

    transition: background-color var(--t), color var(--t);
}
body > article section.list.normal button:hover {
    background-color: var(--fg3);
    color: var(--fg);
}
body > article section.list.normal button > span {
    color: var(--fg3);

    transition: color var(--t);
}
body > article section.list.normal button:hover > span {
    color: var(--fg2);
}
body > article section.list.big-items section.item,
body > article section.list.small-items section.item {
    transform: translateY(calc(2rem * var(--y))) scale(1.1);

    opacity: 0;
    visibility: hidden;

    filter: blur(0.5rem);

    transition: transform var(--t), opacity var(--t), visibility var(--t), filter var(--t);
}
body > article section.list.big-items section.item.this,
body > article section.list.small-items section.item.this {
    transform: translateY(0rem) scale(1);

    opacity: 1;
    visibility: inherit;

    filter: blur(0rem);
}
body > article section.list.big-items {
    padding: 3rem 0rem;

    flex-direction: column;
    align-items: stretch;
    gap: 5rem;

    transition: padding var(--t), gap var(--t);
}
@media (max-width:60rem) {
    body > article section.list.big-items {
        padding: 0rem;

        gap: 1rem;
    }
}
body > article section.list.big-items section.item {
    --overlap: 20%;

    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
body > article section.list.big-items section.item[flip] {
    flex-direction: row-reverse;
}
body > article section.list.big-items section.item > div {
    width: calc(50% + (var(--overlap) / 2));

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 0.5rem;

    transition: width var(--t);
}
@media (max-width:60rem) {
    body > article section.list.big-items section.item > div {
        width: 100%;
    }
}
body > article section.list.big-items section.item > div.display {
    flex-direction: row;

    transition: margin var(--t);
}
body > article section.list.big-items section.item:not([flip]) > div.display {
    margin-left: 0%;
    margin-right: calc(-1 * var(--overlap));

    justify-content: flex-start;
}
body > article section.list.big-items section.item[flip] > div.display {
    margin-left: calc(-1 * var(--overlap));
    margin-right: 0%;

    justify-content: flex-end;
}
@media (max-width:60rem) {
    body > article section.list.big-items section.item:not([flip]) > div.display {
        margin-left: 0%;
        margin-right: -100%;
    }
    body > article section.list.big-items section.item[flip] > div.display {
        margin-left: -100%;
        margin-right: 0%;
    }
}
body > article section.list.big-items section.item > div.display > div {
    --angle: 3deg;
    --move: 0.5rem;

    transform: perspective(20rem) rotateY(0deg) rotateX(0deg) scale(1) translate(0rem, 0rem);

    min-width: max-content;
    max-height: 20rem;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--bg);
    border-radius: 0.5rem;

    transition: transform var(--t);
}
body > article section.list.big-items section.item > div.display > div:hover {
    transform: perspective(20rem) rotateY(var(--angle)) rotateX(var(--angle)) scale(1.05) translate(var(--move), calc(-1 * var(--move)));
}
body > article section.list.big-items section.item[flip] > div.display > div:hover {
    transform: perspective(20rem) rotateY(calc(-1 * var(--angle))) rotateX(var(--angle)) scale(1.05) translate(calc(-1 * var(--move)), calc(-1 * var(--move)));
}
body > article section.list.big-items section.item > div.display > div:empty {
    width: 100%;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;

    color: var(--fg3);
}
body > article section.list.big-items section.item > div.display > div:empty::before {
    content: "Image coming soon!";

    font-style: italic;
    text-align: left;
}
body > article section.list.big-items section.item[flip] > div.display > div:empty {
    text-align: right;
}
@media (max-width:60rem) {
    body > article section.list.big-items section.item > div.display > div {
        min-width: 100%;
    }
    body > article section.list.big-items section.item > div.display > div:empty {
        justify-content: flex-end;
    }
}
body > article section.list.big-items section.item > div.display > div > img {
    width: auto;
    height: 100%;

    opacity: 0.75;

    filter: grayscale(0);

    transition: opacity var(--t), filter var(--t);
}
body > article section.list.big-items section.item > div.display > div:hover > img {
    opacity: 1;
}
@media (max-width:60rem) {
    body > article section.list.big-items section.item > div.display > div > img {
        width: 100%;
        height: auto;

        opacity: 0.5;

        filter: grayscale(0.5);
    }
}
body > article section.list.big-items section.item > div.content {
    z-index: 1;

    padding: 2rem 0rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 1rem;

    transition: padding var(--t);
}
@media (max-width:60rem) {
    body > article section.list.big-items section.item > div.content {
        padding: 2rem;
    }
}
body > article section.list.big-items section.item > div.content,
body > article section.list.big-items section.item > div.content * {
    margin: 0em;

    text-align: right;
}
body > article section.list.big-items section.item[flip] > div.content,
body > article section.list.big-items section.item[flip] > div.content * {
    text-align: left;
}
body > article section.list.big-items section.item > div.content > h1 {
    color: var(--fg);

    filter: drop-shadow(0em 0em 0.5em var(--fg));

    font-size: 1.5em;

    transition: color var(--t), filter var(--t);
}
body > article section.list.big-items section.item > div.content > h1:has(a:hover) {
    color: var(--a);

    filter: drop-shadow(0em 0em 0.5em var(--a));
}
body > article section.list.big-items section.item > div.content > h1 * {
    color: inherit !important;

    filter: none !important;

    transition: none !important;
}
body > article section.list.big-items section.item > div.content > p.main {
    padding: 1em;

    background-color: var(--bg2);
    border-radius: 0.5rem;

    filter: drop-shadow(0em 0.5em 0.5em #0008);
}
body > article section.list.big-items section.item > div.content > p:not(.main) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 2em;

    font-family: monospace;
    font-size: 0.75em;
}
body > article section.list.big-items section.item[flip] > div.content > p:not(.main) {
    justify-content: flex-start;
}
body > article section.list.big-items section.item > div.content > p:not(.main):has(button) {
    gap: 0.5em;

    font-size: 1.5em;
}
body > article section.list.big-items section.item > div.content > p:not(.main):has(button) button {
    padding: 0em;

    background-color: transparent;
    color: var(--fg2);

    font-size: 1em;

    transition: color var(--t);
}
body > article section.list.big-items section.item > div.content > p:not(.main):has(button) button:hover {
    color: var(--fg);
}
body > article section.list.small-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-items: stretch;
    align-items: stretch;
}
body > article section.list.small-items section.item {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--bg2);
    border-radius: 0.5rem;
}
body > article section.list.small-items section.item > header {
    margin: 2rem 0rem;
    margin-top: 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
}
body > article section.list.small-items section.item > header > ion-icon {
    transform: scale(3);

    min-width: 1em;

    color: var(--a);

    filter: drop-shadow(0em 0em 0.25em var(--a));

    font-size: 1.5em;
}
body > article section.list.small-items section.item > header > span {
    width: 100%;
}
body > article section.list.small-items section.item > header button {
    min-width: 1em;
    padding: 0em;

    background-color: transparent;
    color: var(--fg2);

    font-size: 1.5em;

    transition: color var(--t);
}
body > article section.list.small-items section.item > header button:hover {
    color: var(--fg);
}
body > article section.list.small-items section.item > h1 {
    margin: 0em;

    color: var(--fg);

    font-size: 1.25em;
}
body > article section.list.small-items section.item > p {
    font-size: 0.75em;
    line-height: 1.5em;
}
body > article section.list.small-items section.item > p.main {
    height: 100%;
}
body > article section.list.small-items section.item > p:not(.main) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 1.5em;

    font-family: monospace;
}
body > article section.list.small-items section.item > p:last-child {
    margin-bottom: 0rem;
}
body > article section.timeline {
    position: relative;

    padding: 0.5rem 0rem;
    padding-left: 3rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 1rem;
}
body > article section.timeline::before {
    content: "";

    position: absolute;
    top: -0.5rem;
    left: 1.5rem;
    transform: translateX(-50%);

    width: 0.1rem;
    height: calc(100% + 1rem);

    background-color: var(--fg3);
}
body > article section.timeline > section,
body > article section.nav > section > section {
    position: relative;
    transform: translateY(calc(2rem * var(--y))) scale(1.1);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 0.5em;

    opacity: 0;
    visibility: hidden;

    filter: blur(0.5rem);

    transition: transform var(--t), opacity var(--t), visibility var(--t), filter var(--t);
}
body > article section.timeline > section {
    width: min(100%, 35rem);
}
body > article section.timeline > section.this,
body > article section.nav > section > section.this {
    transform: translateY(0rem) scale(1);

    opacity: 1;
    visibility: inherit;

    filter: blur(0rem);
}
body > article section.timeline > section::before {
    content: "";

    position: absolute;
    top: 0.75rem;
    left: -1.5rem;
    transform: translate(-50%, -50%);

    width: 0.5rem;
    aspect-ratio: 1 / 1;

    background-color: var(--fg);
    border-radius: 100%;

    filter: drop-shadow(0em 0em 0.25em var(--fg));
}
body > article section.timeline > section > h1,
body > article section.nav > section > section > h1 {
    margin: 0em;

    color: var(--fg);

    font-size: 1.25em;
    font-weight: 100;
}
body > article section.timeline > section > h1 > span,
body > article section.nav > section > section > h1 > span {
    filter: drop-shadow(0em 0em 0.5em var(--fg));
}
body > article section.timeline > section > h1 > *,
body > article section.nav > section > section > h1 > * {
    font-weight: 500;
}
body > article section.timeline > section > h3,
body > article section.nav > section > section > h3 {
    margin: 0em;

    font-family: monospace;
    font-size: 1em;
}
body > article section.timeline > section > ul,
body > article section.nav > section > section > ul {
    margin: 0em;
    padding-left: 1.5rem;

    list-style: none;
}
body > article section.timeline > section > ul > li,
body > article section.nav > section > section > ul > li {
    position: relative;

    margin-top: 0.5em;
}
body > article section.timeline > section > ul > li::before,
body > article section.nav > section > section > ul > li::before {
    content: "";

    position: absolute;
    top: 0.5rem;
    left: -1em;
    transform: translateX(-50%);

    width: 0.5rem;
    aspect-ratio: 1 / 1;

    background-color: var(--fg3);
    border-radius: 100%;
}
body > article section.nav {
    --h: 0px;

    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
body > article section.nav > nav {
    min-width: 10rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}
body > article section.nav > nav > button {
    position: relative;
    transform: translateY(calc(2rem * var(--y))) scale(1.1);
    transform-origin: 100% 50%;

    padding: 1em;

    background-color: transparent;
    opacity: 0;
    visibility: hidden;

    filter: blur(0.5rem);

    font-family: monospace;
    font-size: 1em;
    text-align: left;

    transition: transform var(--t), background-color var(--t), opacity var(--t), visibility var(--t), filter var(--t);
}
body > article section.nav > nav > button:hover {
    background-color: var(--bg2);
}
body > article section.nav > nav > button.this {
    transform: translateY(0rem) scale(1);

    opacity: 1;
    visibility: inherit;

    filter: blur(0rem);
}
body > article section.nav > nav > button::before {
    content: "";

    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;

    width: 0.1rem;

    background-color: var(--fg3);

    transition: width var(--t), background-color var(--t);
}
body > article section.nav > nav > button.active::before {
    width: 0.25rem;

    background-color: var(--a);
}
body > article section.nav > section {
    width: 100%;
    max-width: 100%;

    position: relative;

    min-height: var(--h);
    max-height: var(--h);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    transition: min-height var(--t), max-height var(--t);
}
body > article section.nav > section > section {
    position: absolute;
    transform: scale(1.1);

    padding: 1rem 2rem;

    opacity: 0;
    visibility: hidden;

    filter: blur(0.5rem);

    transition: transform var(--t), opacity var(--t), visibility var(--t), filter var(--t);
}
body > article section.nav > section > section.this {
    position: static;
    transform: scale(1);

    opacity: 1;
    visibility: inherit;

    filter: blur(0rem);
}
body > article section.single {
    padding: 12.5rem 15rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
body > article section.single > * {
    margin: 0.5em 0em;

    text-align: center;
}
body > article section.single > h1 {
    color: var(--fg);

    filter: drop-shadow(0em 0em 0.5em var(--fg));

    font-size: 1.5em;
}
body > article section.single > .icon {
    --color: var(--fg2);

    align-self: center;

    font-size: 1em;
}
body > footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 0.25rem;

    color: var(--fg3);

    font-family: monospace;
}
body > footer * {
    color: inherit !important;
}
body > footer > p {
    margin: 0em;

    font-size: 0.75em;
}
