:root {
  --bg1: #232540;
  --bg1a: #23254088;

  --fg1: #fff;
  --fg1a: #fff8;
  --fg2: #d2d5f7;
  --fg2a: #d2d5f788;

  --mg: #45507d;
  --mga: #45507d88;

  --a1: #1cff77;
  --a1a: #1cff7788;
  --a1aa: #1cff7744;
  /* --a1: #1cff1c;
  --a1a: #1cff1c88;
  --a1aa: #1cff1c44; */

  --def-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --blob1-font: blob1-font, var(--def-font);
  --blob2-font: blob2-font, var(--def-font);
  --blob3-font: blob3-font, var(--def-font);

  --blob-box: inset 0 0 0.5rem var(--a1aa);
}

@font-face {
  font-family: blob1-font;
  src: url("./assets/fonts/LoveDays.ttf");
}
@font-face {
  font-family: blob2-font;
  src: url("./assets/fonts/RebellionSquad.ttf");
}
@font-face {
  font-family: blob3-font;
  src: url("./assets/fonts/SuperFrog.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  overscroll-behavior: none;

  font-family: var(--def-font);
}

* {
  box-sizing: border-box;

  color: inherit;

  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  outline: none;
  border: none;

  font-size: inherit;

  cursor: pointer;
}

::selection {
  background-color: var(--a1a);
  color: var(--fg1);
}

body {
  position: relative;

  background-color: var(--bg1);
  color: var(--fg1);
}

body > article {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.9);

  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 5rem;
  overflow: auto;

  opacity: 0;
  visibility: hidden;

  transition: transform 0.25s, opacity 0.25s, visibility 0.25s;
}
body.portrait > article {
  padding: 2rem;
}
body > article.this {
  transform: scale(1);

  opacity: 1;
  visibility: inherit;
}

body > div.close {
  z-index: 1;

  position: absolute;
  top: 3rem;
  right: 3rem;

  pointer-events: none;

  transition: transform 0.25s;
}
body.portrait > div.close {
  top: 1rem;
  right: 1rem;
}
body:has(> article#main.this) > div.close {
  transform: scale(0);
}
body > div.close > * {
  pointer-events: all;
}
body > div.close button {
  padding: 0;

  background-color: transparent;
  color: var(--a1);

  font-size: 1.5em;

  transition: color 0.25s;
}
body > div.close button:hover {
  color: var(--fg1);
}

body > div.copyright {
  z-index: 1;

  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);

  min-width: max-content;

  color: var(--fg2);
  opacity: 0.25;

  pointer-events: none;

  transition: transform 0.25s;
}
body:not(:has(> article#main.this)) > div.copyright {
  transform: translate(-50%, 3rem);
}
