@import "tailwindcss";
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overscroll-behavior: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.edge-blur {
  position: fixed;
  inset: 0;
  pointer-events: none;
  backdrop-filter: blur(0.75rem);
  -webkit-backdrop-filter: blur(0.75rem);

  mask-image: radial-gradient(circle at center, transparent 50%, black 85%);
  -webkit-mask-image: radial-gradient(
    circle at center,
    transparent 50%,
    black 85%
  );
}

.test,
.test * {
  border-width: 1px !important;
  border-color: red !important;
}
