:root {
    --bg: #fff;
    --bga: #fff2;

    --bg2: #ddd;

    --fg: #000;
    --fga: #0002;

    --fg2: #222;

    --shadow: #0003;

    --HEADER: 5rem;
    --NAVIGATOR: 5rem;
}

html,
body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    overscroll-behavior: none;

    background-color: var(--bg);
    color: var(--fg);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes flicker {
    0% { background-color: #000; }
    100% { background-color: #444; }
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    outline: none;

    cursor: pointer;
}

body > header {
    z-index: 1;

    position: sticky;
    top: 0;

    height: var(--HEADER);
    max-height: var(--HEADER);
    padding: 1.5em 3em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 1em;

    background-color: var(--bg);
    filter: drop-shadow(0 -0.5rem 1rem var(--shadow));
}
body > header > button {
    min-width: max-content;

    background-color: transparent;
}
body > header > button.logo {
    font-weight: 800;
    letter-spacing: 0.1em;
}
body > header > button.name {
    opacity: 0.75;

    font-style: italic;
}
body > header > span.spacer {
    flex-basis: 100%;
}
body > header > div.theme-dropdown {
    position: absolute;
    top: calc(100% - 1em);
    right: 2.5em;
    transform: scale(0.75);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;

    background-color: var(--bg);
    border-radius: 0.5em;
    filter: drop-shadow(0 0.5rem 1rem var(--shadow));
    opacity: 0;

    transition: transform 0.25s, opacity 0.25s;
}
body > header > div.theme-dropdown.active {
    transform: scale(1);

    opacity: 1;
}
body > header > div.theme-dropdown > button {
    padding: 0.75em 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 0.5em;

    background-color: var(--bg);

    transition: background-color 0.25s;
}
body > header > div.theme-dropdown > button:hover {
    background-color: var(--bg2);
}
body > header > div.theme-dropdown > button > span {
    flex-basis: 100%;

    text-align: left;
}

body > article.intro {
    position: relative;

    height: calc(100% - var(--HEADER));
    max-height: calc(100% - var(--HEADER));
    overflow: hidden;
    padding: 3em;
    padding-top: 1em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    font-size: 1.5em;
}
body > article.intro:not(.empty) {
    display: none;
}
body > article.intro > article.intro-card {
    max-width: 25em;
    padding: 3em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.5em;

    background-color: var(--bg);
    border-radius: 2em;
    filter: drop-shadow(0 2rem 2rem var(--shadow));
}
body > article.intro > article.intro-card > h1 {
    margin-bottom: 0.5em;

    font-size: 1.5em;
    text-align: center;
}
body > article.intro > article.intro-card > button {
    padding: 0.75em 1.5em;

    background-color: #06d;
    border-radius: 1em;

    color: #fff;
    font-weight: 500;

    transition: background-color 0.25s;
}
body > article.intro > article.intro-card > button:hover {
    background-color: #08f;
}
body > article.intro > article.intro-card > span {
    opacity: 0.75;

    font-size: 0.75em;
}
body > article.intro > article.credit-card {
    position: absolute;
    right: 1em;
    bottom: 1em;

    padding: 0.5em;

    opacity: 0.75;

    font-size: 0.75em;
    font-style: italic;
}

body > article.images-body {
    position: relative;

    height: calc(100% - var(--HEADER));
    max-height: calc(100% - var(--HEADER));
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}
body > article.images-body.empty {
    display: none;
}
body > article.images-body > article.viewer {
    width: 100%;
    max-width: 100%;
    height: calc(100% - 1em - var(--NAVIGATOR));
    max-height: calc(100% - 1em - var(--NAVIGATOR));
    overflow: auto;
    padding: 2em;
    margin-bottom: -1em;
}
body > article.images-body > article.viewer > article {
    height: 100%;
    max-height: 100%;
    padding: 2em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 1em;

    background-color: var(--bg);
    border-radius: 2em;
    filter: drop-shadow(0 0.5rem 1rem var(--shadow));
}
body > article.images-body > article.viewer > article > article.image {
    position: relative;

    min-width: max-content;
    overflow: hidden;

    border: 0.25rem solid var(--fga);
    border-radius: 0.5rem;

    cursor: pointer;
}
body > article.images-body > article.viewer > article > article.image > canvas {
    height: 100%;
    width: auto;

    object-fit: contain;
}
body > article.images-body > article.viewer > article > article.image > canvas:not(:first-of-type) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
body > article.images-body > article.viewer > article > article.image > span {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    transform: translateX(-0.5em) scale(0.75);

    padding: 0.5em 0.75em;

    background-color: #111a;
    backdrop-filter: blur(0.1rem);
    color: #fff;
    opacity: 0;
    visibility: hidden;

    border-radius: 0.5em;

    transition: transform 0.25s, opacity 0.25s, visibility 0.25s;
}
body > article.images-body > article.viewer > article > article.image:hover > span {
    transform: translateX(0em) scale(1);

    opacity: 1;
    visibility: inherit;
}
body > article.images-body > article.viewer > article > article.editor {
    flex-basis: 100%;

    padding: 1.5em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    gap: 0.5em;
}
body > article.images-body > article.viewer > article > article.editor > h1 {
    margin-bottom: 0.5em;

    font-size: 2em;
}
body > article.images-body > article.viewer > article > article.editor > h1 > span:first-child {
    margin-right: 0.5em;

    font-family: monospace;
}
body > article.images-body > article.viewer > article > article.editor > span.channels {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 0.5em;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button {
    width: 7.5em;
    padding: 0.5em 1em;

    background-color: transparent;
    color: #fff;
    border-radius: 1em;

    transition: background-color 0.25s;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.r {
    background-color: #d026;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.r:hover {
    background-color: #d02a;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.r.this {
    background-color: #d02;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.r.this:hover {
    background-color: #f04;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.g {
    background-color: #0a26;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.g:hover {
    background-color: #0a2a;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.g.this {
    background-color: #0a2;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.g.this:hover {
    background-color: #0c4;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.b {
    background-color: #06d6;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.b:hover {
    background-color: #06da;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.b.this {
    background-color: #06d;
}
body > article.images-body > article.viewer > article > article.editor > span.channels > button.b.this:hover {
    background-color: #08f;
}
body > article.images-body > article.navigator {
    width: 100%;
    max-width: 100%;
    height: calc(var(--NAVIGATOR) + 4em);
    max-height: calc(var(--NAVIGATOR) + 4em);
    overflow: auto;
    padding: 2em;
    margin-top: -1em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    gap: 1em;
}
body > article.images-body > article.navigator > button {
    width: var(--NAVIGATOR);
    padding: 1em;

    background-color: transparent;
    border-radius: 1em;
    filter: drop-shadow(0 0.5rem 1rem var(--shadow));
}
body > article.images-body > article.navigator > button.add {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #06d;
    color: #fff;

    transition: background-color 0.25s;
}
body > article.images-body > article.navigator > button.add:hover {
    background-color: #08f;
}
body > article.images-body > article.navigator > button.add > ion-icon {
    font-size: 2em;
}
body > article.images-body > article.navigator > button.image {
    background-color: var(--bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body > article.images-body > article.navigator > button.image.this {
    border: 0.1rem solid #08f;
}

body > div.drag-overlay {
    z-index: 2;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #06d8;
    
    color: #fff;
    font-size: 7.5em;

    pointer-events: none;
}
body > div.drag-overlay:not(.active) {
    display: none;
}
body > div.drag-overlay > div {
    --space-size: 0.25em;
    --box-size: 1em;
    --line-size: 0.25em;

    position: absolute;

    width: var(--box-size);
    height: var(--box-size);
}
body > div.drag-overlay > div.t {
    top: var(--space-size);
}
body > div.drag-overlay > div.b {
    bottom: var(--space-size);
}
body > div.drag-overlay > div.l {
    left: var(--space-size);
}
body > div.drag-overlay > div.r {
    right: var(--space-size);
}
body > div.drag-overlay > div::before,
body > div.drag-overlay > div::after {
    content: "";

    position: absolute;

    background-color: #fff;
    border-radius: var(--line-size);
}
body > div.drag-overlay > div::before {
    top: 0;
    bottom: 0;

    width: var(--line-size);
}
body > div.drag-overlay > div::after {
    left: 0;
    right: 0;
    
    height: var(--line-size);
}
body > div.drag-overlay > div.l::before {
    left: 0;
}
body > div.drag-overlay > div.r::before {
    right: 0;
}
body > div.drag-overlay > div.t::after {
    top: 0;
}
body > div.drag-overlay > div.b::after {
    bottom: 0;
}
